
.custom-wrapper {
    background-color: #333333;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.5em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    border-bottom: 5px solid #A55030;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
    }
}




body {
    background-color: #dbdbd5;
    font-family: 'Segoe UI',Helvetica,Arial,Verdana,sans-serif;
}

.menu-item > .menu-link {
    color: white;
}

.pure-g > div {
    box-sizing: border-box;
    padding:1px;
}


.logo {
    position: relative;
    background-color: #dbdbd5;
}

.logo-buttons {
    position: relative;
}

@media screen and (min-width: 35.5em) {
    .logo-buttons {
        position: absolute;
        width: 100%;
        bottom:0;
        left:0;
    }
}


.logo-button {
    background: #FFD700;
    width:100%;
    border: 1px solid #A55030;
}

.content {
    max-width: 675px;
    margin: auto;
}

.news-items {
    list-style: none;
    padding: 0px;
}

.news-item {
    border-left: 5px solid #A55030;
    margin: 4px 0px 4px 0px;
    padding: 2px 5px 2px 5px;
}

.news-item > p {
    padding: 0px 5px 0px 5px;
}
