
.custom-wrapper {
    background-color: #333333;
    -webkit-font-smoothing: antialiased;
    height: 2.5em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    border-bottom: 5px solid #A55030;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
    }
}




body {
    background-color: #dbdbd5;
    font-family: 'Open Sans', sans-serif;
    font-size:125%;
}

h1, h2, h3, h4, h5, h6, a, a.pure-button {
    font-family: 'Exo', sans-serif;
}

/* unvisited link */
/* visited link */
a:link, a:visited {
    color: #A55030;
    text-decoration: none;
}

/* mouse over link */
/* selected link */
a:hover, a:active {
    color: black;
    text-decoration: none;
}

.pure-g > div {
    box-sizing: border-box;
    padding:1px;
}

/* menu */

.menu-item > .menu-link {
    color: white;
}
.menu-link:hover {
    color: #A55030;
    background: none;
}

/* logo */

.logo {
    position: relative;
}

/* logo buttons */

.logo-buttons {
    display:none;
    position: relative;
}

.logo-buttons > div {
    max-width: 40em;
    margin:auto;
}

a.logo-button {
    background: #FFD700;
    color: black;
    width:100%;
    border: 1px solid #A55030;
}

/* logo label */

.logo-label {
    position: absolute;
    width: 100%;
    top:1em;
    left:0;
}

.logo-label > div {
    max-width: 800px;
    margin:auto;
}

/* logo background */

.logo-background {
    margin-left: auto;
    margin-right: auto;
}

/* content */

.content {
    max-width: 40em;
    padding: 0 .5em 0 .5em;
    margin: auto;
}

/* new items */

.news-items {
    list-style: none;
    padding: 0px;
}

.news-item {
    border-left: 5px solid #A55030;
    margin: 4px 0px 4px 0px;
    padding: 0.8em 1em 0.8em 1em;
    background: #c9c9bb;
}

.news-item > p {
    padding: 0px 5px 0px 5px;
}

/* sm */
@media screen and (min-width: 35.5em) {
    .logo-label{
        top:0;
    }
    .logo-buttons {
        position: absolute;
        display: block;
        width:100%;
        bottom:0;
        left:0;
    }
    .logo-button {
        padding: 0.8em 0 0.8em 0;
        font-size: 125%;
    }
}
/* md */
@media screen and (min-width: 48em){
    .logo-label{
        top:.8em;
    }
}
/* lg */
@media screen and (min-width: 64em){
    .logo-label{
        top:2.4em;
    }
}
/* xl */
@media screen and (min-width: 80em){
    .logo-label{
        top:5em;
    }
}

