
.custom-wrapper {
    background-color: #333333;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 3.0em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    border-bottom: 5px solid #A55030;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: black;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
    }
}

body {
    background-color: #dbdbd5;
}



.menu-item > .menu-link {
    color: white;
}

.pure-g > div {
    box-sizing: border-box;
    padding:5px;
}

.pure-g > div > .pure-button{
    #width:100%;
}

.logo {
    position: relative;
    background-color: #dbdbd5;
}

.logo-buttons {
    position: absolute;
    width: 100%;
    bottom:0;
    left:0;
}

.logo-button {
    background: #FFD700;
}

.content {
    width: 675px;
    margin: auto;
}
