---
layout: default
---
<div class="content">
    {% capture landing %}{% include landing_article.md %}{% endcapture %}
    {{ landing | markdownify }}
</div>
<div class="content">
    <h2>News</h2>
    <ul class="list-unstyled">
        {% for post in site.posts %}
        <li class="top-buffer">
            <h4>
                <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
                <small>{{ post.date | date: "%b %-d, %Y" }}</small>
            </h4>
            <p>
            {{ post.abstract }}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>

