<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta content="{{ site.title }}" property="og:site_name" >
    {% if page.title %}
    <title>{{ site.title }} {{ page.title }}</title>
    <meta title="{{ page.title }}">
    <meta content="{{ page.title }}" property="og:title"/>
    <meta content="{{ page.title }}" name="twitter:title">
    <meta content="article" property="og:type">
    {% else %}
    <title>{{ site.title }}</title>
    <meta title="{{ site.title }}">
    <meta content="{{ site.title }}" property="og:title"/>
    <meta content="{{ site.title }}" name="twitter:title">
    <meta content="website" property="og:type">
    {% endif %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@stepp0r">
    <meta name="twitter:creator" content="@mr_van_dalo">

    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    <meta content="{{ page.description }}" name="description">
    <meta content="{{ page.description }}" name="twitter:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    <meta content="{{ site.description }}" name="description">
    <meta content="{{ site.description }}" name="twitter:description">
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{{ site.keywords }}">
    {% if page.url %}
    <meta content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" property="og:url">
    <meta content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" property="twitter:url">
    {% endif %}

    <meta content="{{ site.url }}{{ site.baseurl }}/assets/Stepp0r_og.png" property="og:image" >
    <meta content="{{ site.url }}{{ site.baseurl }}/assets/Stepp0r_og.png" property="twitter:image" >

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- favicon stuff-->
    <link rel="apple-touch-icon" sizes="57x57"   href="{{ site.url }}{{ site.baseurl }}/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"   href="{{ site.url }}{{ site.baseurl }}/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"   href="{{ site.url }}{{ site.baseurl }}/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"   href="{{ site.url }}{{ site.baseurl }}/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}{{ site.baseurl }}/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}{{ site.baseurl }}/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}{{ site.baseurl }}/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}{{ site.baseurl }}/assets/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/assets/apple-touch-icon-180x180.png">

    <link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/assets/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/assets/favicon-16x16.png" sizes="16x16">

    <link rel="manifest"              href="{{ site.url }}{{ site.baseurl }}/assets/manifest.json">

    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{{ site.url }}{{ site.baseurl }}/assets/mstile-144x144.png">
    <meta name="theme-color"             content="#ffffff">


    <!-- pure css -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ "/css/my.css" | prepend: site.baseurl }}"> 

    <!-- Custom bootstrap -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
        <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script> -->

</head>
